.navigation{
   width: 500px;
   background: hsl(0 0% 96.1%);
   height: 100%;
   transition: .2s ease-in-out;
   position: relative;

   &_resize{
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background: hsl(0deg 0% 9% / 5%);
      cursor: ew-resize;
   }

   &_left{
      position: absolute;
      right: 50px;
      top: 50px;
   }
   &_popup{
      padding: 10px;
      background: #fff;
      width: 100%;
      min-width: 300px;
      background: hsl(0 0% 100%);
      padding: 10px;
      border-radius: 8px;

         --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
         --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
   }
   &_popup_button{
         width: 100%;
         background: transparent;
         outline: none;
         border: none;
   }
   &_menu{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
   }
}
.full{
   height: 100%;
}